[project]
name = "tool-call-demo"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "openai",
    "psutil>=7.1.3",
]

[dependency-groups]
dev = [
    "ipython>=9.8.0",
]
